@import "tailwindcss";

.raleway {
  font-family: "Raleway", sans-serif;
}

body {
}

path {
  pointer-events: all;
  filter: blur(0.5px);
}

path:hover {
  fill: red;
  stroke: blue;
}

.weatherBG {
  background: linear-gradient(to right, #1a2b3c, #4b2f58, #d9a159);
}

@keyframes zoomSlow {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoomSlow {
  animation: zoomSlow 6s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}




